.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
    }
  }

  .sidebar {
    flex: 1;
  }
}
